@import "../../../abstract/variaveis";

.cabecalho-login {
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    padding: 1.5em 1em 1em;
    text-align: center;
}

.cabecalho {
    &__titulo {
        color: $branco;
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 1em;
    }
    &__foto-perfil {
        border-radius: 100%;
        height: 80px;
        width: 80px;
    }
}
