@import "../../abstract/variaveis";

.cabecalho {
    background-image: $cor-cabecalho;
    height: auto;
    letter-spacing: 3px;
    padding: 1.5em 1em 1em;
    text-align: center;
    &__titulo {
        color: $color-cabecalho;
        font-size: $font-size-cabecalho;
        font-weight: $font-weight-cabecalho;
        padding-bottom: 1em;
    };
    &__foto-perfil {
        border-radius: 100%;
        height: 80px;
        width: 80px;
    }
}
