@import "../../../abstract/variaveis";

.principal__login {
    background-color: $branco;
    border-radius: 10px;
    padding: 2em 1em 1em;
    text-align: center;
    .login__link {
        display: block;
        margin-bottom: 1em;
    }
    .login__trocar-senha {
        color: $cor-secundaria;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        text-align: right;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .login__entrar {
        background-image: linear-gradient(to right, $cor-secundaria, $cor-primaria);
        border: none;
        border-radius: 10px;
        color: $branco;
        padding: 10px 2em;
        font-size: 20px;
        font-weight: 700;
    }
    .login__criar-conta {
        color: $cor-primaria;
        cursor: pointer;
        font-size: 22px;
        font-weight: 700;
        margin: 1em 0 0 0;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
