@import "../../../abstract/variaveis";

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    .cabecalho__titulo {
        padding: 0;
    }
    .cabecalho__link {
        border: 1px solid $branco;
        border-radius: 5px;
        color: $branco;
        padding: .5em;
        text-decoration: none;
        transition: all .5s linear;
        &:hover {
            background-color: $branco;
            color: $cor-primaria;
            border-color: $cor-primaria;
            text-decoration: underline;
        }
    }
}
