@import "../../abstract/variaveis";

.principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__texto {
        margin-bottom: .5em;
        font-size: 14px;
        .texto__descricao {
            color: $cor-secundaria;
            font-weight: 500;
            .descricao__tempo {
                color: $cor-primaria;
                font-weight: 700;
            }
        }
    }
    .sucesso {
        align-items: center;
        background-color: $branco;
        border-radius: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
        width: 90%;
        &__imagem {
            width: 50%;
        }
        &__descricao {
            color: $cor-primaria;
            font-size: 20px;
            font-weight: 700;
        }
    }
}
