// Variáveis gerais do arquivo
$font-family-principal: 'Roboto', sans-serif;
$font-size-principal: 16px;
$font-style-principal: normal;
$font-weight-principal: 400;
$line-heigth-principal: 1.2em;

// Variáveis do cabeçalho
$cor-cabecalho: radial-gradient(#743152, #4F244F, #462250);
$font-size-cabecalho: 32px;
$font-weight-cabecalho: 700;
$color-cabecalho: #FFFFFF;
