// Variáveis gerais do arquivo
    $background-principal: #F4F2FF;
    $font-family-principal: 'Roboto', sans-serif;
    $font-size-principal: 16px;
    $font-style-principal: normal;
    $font-weight-principal: 400;
    $line-heigth-principal: 1.2em;
// Variáveis gerais do arquivo

// Variáveis independentes
    $preto: #000000;
    $branco: #FFFFFF;
    $cor-primaria: #701414;
    $cor-secundaria: #ED2728;
// Variáveis independentes
