html, body {
  background-color: #F4F2FF;
  box-sizing: border-box;
  font: normal 400 16px "Roboto", sans-serif;
  height: 100vh;
  line-height: 1.2em;
  width: 100vw;
}

.nome {
  text-transform: capitalize;
}

.cabecalho {
  align-items: center;
  background-image: linear-gradient(to right, #ED2728 10%, #701414);
  display: flex;
  flex-direction: row;
  font-size: 12px;
  height: auto;
  justify-content: space-between;
  padding: 1em;
}
.cabecalho .cabecalho__menu-hamburguer .menu-hamburguer__icone {
  background: url("../img/icones/menu-hamburguer.png") no-repeat center center/cover;
  height: 32px;
  width: 32px;
}
.cabecalho .cabecalho__informacoes-gerais {
  color: #FFFFFF;
  -moz-column-gap: 5px;
       column-gap: 5px;
  display: grid;
  grid-template: repeat(2, auto)/auto 1fr;
}
.cabecalho .cabecalho__informacoes-gerais .informacoes-gerais__nome {
  align-self: end;
  font-size: 16px;
  font-weight: 700;
  grid-area: 1/1/2/2;
}
.cabecalho .cabecalho__informacoes-gerais .informacoes-gerais__perfil {
  border-radius: 50%;
  grid-area: 1/2/3/3;
  height: 55px;
  width: 55px;
}
.cabecalho .cabecalho__informacoes-gerais .informacoes-gerais__sair {
  align-self: start;
  color: #FFFFFF;
  justify-self: end;
  text-decoration: none;
  text-transform: lowercase;
}
.cabecalho .cabecalho__informacoes-gerais .informacoes-gerais__sair:hover {
  text-decoration: underline;
}

.lateral {
  background-color: #FFFFFF;
  border-right: 1px solid #ED2728;
  box-sizing: border-box;
  height: 100vh;
  left: -9999px;
  padding: 1em;
  position: absolute;
  top: 0;
  transition: left 0.7s ease-in-out;
  width: 50vw;
}
.lateral .lateral__informacoes-gerais {
  -moz-column-gap: 5px;
       column-gap: 5px;
  display: grid;
  grid-template: repeat(2, auto)/1fr auto;
  margin-bottom: 2em;
}
.lateral .lateral__informacoes-gerais .informacoes-gerais__nome {
  font-size: 18px;
  font-weight: 700;
}
.lateral .lateral__informacoes-gerais .informacoes-gerais__alterar-usuario {
  color: #ED2728;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.lateral .lateral__informacoes-gerais .informacoes-gerais__alterar-usuario:hover {
  text-decoration: underline;
}
.lateral .lateral__informacoes-gerais .informacoes-gerais__perfil {
  border-radius: 50%;
  grid-area: 1/1/3/2;
  height: 55px;
  width: 55px;
}
.lateral .lateral__corpo .corpo__lista-principal .lista-principal__item .item__titulo {
  color: #701414;
  font-weight: 700;
  margin-top: 1em;
}
.lateral .lateral__corpo .corpo__lista-principal .lista-principal__item .item__lista-secundaria {
  text-indent: 10px;
}
.lateral .lateral__corpo .corpo__lista-principal .lista-principal__item .item__lista-secundaria .lista-secundaria__item {
  line-height: 1.5em;
}
.lateral .lateral__corpo .corpo__lista-principal .lista-principal__item .item__lista-secundaria .lista-secundaria__item .item__link {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
.lateral .lateral__corpo .corpo__lista-principal .lista-principal__item .item__lista-secundaria .lista-secundaria__item .item__link:hover {
  text-decoration: underline;
}

.ativo {
  left: 0px;
}

.rodape {
  background-image: linear-gradient(to right, #ED2728 10%, #701414);
}
.rodape .rodape__icone {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 1em 0;
}
.rodape .rodape__icone .icone {
  height: 64px;
  width: 64px;
}
.rodape .rodape__icone .icone-home {
  background: url("../img/icones/botao-home.png") no-repeat center center/cover;
}
.rodape .rodape__icone .icone-pacientes {
  background: url("../img/icones/paciente.png") no-repeat center center/cover;
}
.rodape .rodape__icone .icone-agendamentos {
  background: url("../img/icones/agenda.png") no-repeat center center/cover;
}
.rodape .rodape__icone .icone-tarefas {
  background: url("../img/icones/tarefas.png") no-repeat center center/cover;
}

.cabecalho-login {
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  padding: 1.5em 1em 1em;
  text-align: center;
}

.cabecalho__titulo {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 1em;
}
.cabecalho__foto-perfil {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

.login__agrupamento {
  box-sizing: border-box;
  border: none;
  text-align: center;
}
.login__agrupamento .agrupamento__titulo {
  color: #ED2728;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.login__agrupamento .agrupamento__rotulo {
  color: #701414;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: left;
}
.login__agrupamento .agrupamento__input {
  background-color: #F3F3F3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  padding: 1em;
  width: 90%;
}
.login__agrupamento .agrupamento__input::-moz-placeholder {
  font-size: 18px;
  text-align: center;
}
.login__agrupamento .agrupamento__input::placeholder {
  font-size: 18px;
  text-align: center;
}
.login__agrupamento .agrupamento__input:focus {
  outline: auto #701414;
}
.login__agrupamento #input-senha {
  margin-top: 1.5em;
}
.login__agrupamento .erro-mensagem {
  background-color: rgba(255, 0, 0, 0.6509803922);
  border-radius: 10px;
  box-sizing: border-box;
  color: #690000;
  font-weight: 700;
  margin: 1em 0 0.5em;
  padding: 0.5em;
}

.principal__login {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2em 1em 1em;
  text-align: center;
}
.principal__login .login__link {
  display: block;
  margin-bottom: 1em;
}
.principal__login .login__trocar-senha {
  color: #ED2728;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
}
.principal__login .login__trocar-senha:hover {
  text-decoration: underline;
}
.principal__login .login__entrar {
  background-image: linear-gradient(to right, #ED2728, #701414);
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 10px 2em;
  font-size: 20px;
  font-weight: 700;
}
.principal__login .login__criar-conta {
  color: #701414;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  margin: 1em 0 0 0;
  text-decoration: none;
}
.principal__login .login__criar-conta:hover {
  text-decoration: underline;
}

.principal {
  box-sizing: border-box;
  padding: 1em;
}

.principal {
  height: calc(100vh - 10.9375em);
}
.principal .principal__saudacoes {
  color: #808080;
  font-size: 14px;
}
.principal .principal__titulo {
  color: #701414;
  font-size: 30px;
  font-weight: 700;
  margin: 0.5em 0;
}
.principal .principal__consultas {
  background-color: #FFFFFF;
  border-radius: 16px;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  padding: 0.3em 1em;
  text-align: center;
}
.principal .principal__consultas .consultas__titulo {
  color: #ED2728;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
.principal .principal__consultas .consultas__descricao {
  border-left: 5px solid #ED2728;
  box-sizing: border-box;
  font-size: 15px;
  margin: 1em 0;
  padding-left: 0.5em;
  text-align: left;
}
.principal .principal__consultas .consultas__descricao .descricao__quantidade-consultas {
  color: #ED2728;
  font-weight: 700;
}
.principal .principal__consultas .consultas__descricao .descricao__verifique-agenda {
  font-weight: 700;
}
.principal .principal__consultas .consultas__ver-tudo {
  color: #ED2728;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}
.principal .principal__consultas .consultas__ver-tudo:hover {
  text-decoration: underline;
}
.principal .principal__tarefas {
  background-color: #FFFFFF;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0.3em 1em;
  text-align: center;
}
.principal .principal__tarefas .tarefas__titulo {
  color: #ED2728;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
.principal .principal__tarefas .tarefas__formulario {
  box-sizing: border-box;
  text-align: left;
  display: grid;
  grid-template: repeat(4, auto)/auto 1fr;
  margin: 1em 0;
}
.principal .principal__tarefas .tarefas__formulario .checkbox {
  display: inline-block;
}
.principal .principal__tarefas .tarefas__formulario .formulario__rotulo {
  display: inline-block;
  line-height: 1.5em;
}
.principal .principal__tarefas .tarefas__ver-tudo {
  color: #ED2728;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}
.principal .principal__tarefas .tarefas__ver-tudo:hover {
  text-decoration: underline;
}

.rodape .rodape__icone .icone-home {
  background: url("../img/icones/botao-home-branco.png") no-repeat center center/cover;
}/*# sourceMappingURL=style.css.map */