@import "../../abstract/variaveis";

.tarefas {
    display: grid;
    grid-template: repeat(2, auto) / 1fr;
    padding: .5em 0;
    .formulario__celula-input-label {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: .2em;
        text-align: left;
        .icones__editar {
            background: url("../../../img/icones/lapis.png") no-repeat center center / cover;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
        .icones__deletar {
            background: url("../../../img/icones/lixeira.png") no-repeat center center / cover;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
        .checkbox {
            margin: 0;
        }
    }
}

.formulario__celula-input-label:hover {
    background-color: $cor-primaria;
    border-radius: 5px;
    box-sizing: border-box;
}
